.centerBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 100%;
    height: 100vh ;
    padding: 6rem 4rem 0;
    background-color:chartreuse;
}

.game h1{
    font-family: var(--font-heading);
    font-size: var(--font-32px);
    color: var(--font-color-black);
    text-align: center;
    white-space: nowrap;
    margin: 1rem;
}

.game-console{
    width: 75%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    /* background-color: bisque; */
}

.game-console-box{
    width: 100%;
    height: 40%;
    column-gap: 2rem;
    background-color: chartreuse;
}

.game-console-box-info{
    width: calc(100% / 3);
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h2{
    flex: 0 0 auto;
    font-family: var(--font-paragraph);
    font-size: var(--font-16px);
    font-weight: var(--font-mid);
    font-style: var(--font-normal);
    text-align: center;
    white-space: nowrap;
    margin: 1rem;
}

.game-console-box-info p{
    font-family: var(--font-paragraph);
    font-size: var(--font-14px);
    font-weight: var(--font-mid);
    flex: 1;
    width: 100%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    background-color:var(--bg-box-trspt);
}

.game-console-box-info:nth-of-type(1) p{
    font-size: var(--font-100px);
    font-weight: var(--font-bold);
    
}

.game-console-box-info-timer:nth-of-type(1) p
{
    font-size: var(--font-40px);
    font-weight: var(--font-bold);
    
}
.game-console-box-info-timer{
    visibility: visible;
}

.game-console-box-mode img{
    display: block;
    float: left;
    width: 10rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 2rem;
    transition: var(--trns-effect);
    /* background-color: yellow; */
}

.game-console-box-info-btn:nth-child(3) button:hover{
    background-color: var(--bg-hover-blue);
}

.game-console-box-info-btn:nth-child(3) button{
    width: 13rem;
    height: 5rem;
    font-family: var(--font-paragraph);
    font-size: var(--font-24px);
    font-weight: var(--font-semibold);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    background-color: var(--bg-box-trspt);
}